.message-sidebar-container {
    background-color: var(--wpbg-200);
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
}

.messages-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    height: 100%;
    gap: 20px;
    overflow-y: auto;
    margin-bottom: 40px;
}

.message {
    max-width: 60%;
    padding: 10px 14px;
    border-radius: 16px;
    font-size: 14px;
    position: relative;
    display: flex;
    flex-direction: column;
    word-break: break-word;
    white-space: pre-wrap;
}

.mine {
    background-color: var(--wp-green-200);
    align-self: flex-end;
}

.other {
    background-color: var(--wpbg-100);
    align-self: flex-start;
}

.time {
    font-size: 11px;
    color: var(--wp-ichs-300);
    align-self: flex-end;
    margin-top: 5px;
}

.sender-name {
    font-weight: bold;
    color: var(--wp-ichs-500);
    align-self: flex-start;
    padding-bottom: 2px;
}