.message-sidebar-container {
    background-color: var(--wpbg-200);
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--wp-ichs-95);
    width: 100%;
}

.messages-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 20px;
    justify-content: space-between;
}

.message {
    max-width: 60%;
    padding: 10px 14px;
    border-radius: 16px;
    font-size: 14px;
    position: relative;
    display: flex;
    flex-direction: column;
    word-break: break-word;
    white-space: pre-wrap;
}

.message span {
    font-size: 11px;
    color: var(--wp-ichs-300);
    align-self: flex-end;
    margin-top: 5px;
}

.mine {
    background-color: var(--wp-green-200);
    align-self: flex-end;
}

.other {
    background-color: var(--wpbg-100);
    align-self: flex-start;
}