.welcome-container{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
/*     height: 100vh;
 */    }

.download-card {
    padding: 24px;
    margin: 16px;
    background-color: var(--wpbg-100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 336px;
    height: 304px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

.download-card h1 {
    font-size: 28px;
    font-weight: 500;
    color: #111b21;
    margin-bottom: 15px;
}

.download-card span {
    font-size: 15px;
    color: var(--wp-ichs-300);
    line-height: 1.6;
    margin-bottom: 30px;
}

.download-card i {
    font-size: 28px;
}

.download-btn {
    display: inline-block;
    background-color: var(--wp-green-100);
    color: var(--wp-green-300);
    border: none;
    padding: 10px 28px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease;
}

.download-btn:hover {
    background-color: var(--wp-green-200);
}

.quick-actions {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 40px;
}

.quick-actions-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quick-actions-btn i {
    width: 100px;
    height: 100px;
    background-color: var(--wp-ichs-95);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: var(--wp-ichs-200);
    transition: 0.2s ease;
}

.quick-actions-btn i:hover {
    background-color: var(--wpbg-100);
}

.quick-actions-btn span {
    font-size: 15px;
    color: var(--wp-ichs-300);
    line-height: 1.6;
    margin-bottom: 30px;
}