
.chat-input {
    padding: 10px 16px;
}

.input-wrapper {
    position: sticky;
    bottom: 0;
    width: 100%;
    border-radius: 25px;
    border-radius: 25px;
    box-shadow: 0 1px 3px var(--wp-ichs-500);
    background: var(--wpbg-100);
    position: relative;
}

.input-wrapper textarea {
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    padding: 12px 55px 12px 45px;
    border-radius: 25px;
    font-size: 15px;
    background: transparent;
}

.input-wrapper i {
    font-size: 16px;
}

.send-btn{
    position: absolute;
    right: 5px;
    bottom: 5px;
    border: none;
    cursor: pointer;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: var(--wpbg-100);
    transition: 0.2s ease;
}

.send-btn:hover{
    background: var(--wp-green-400);
}

.emoji-btn {
    position: absolute;
    left: 5px;
    bottom: 5px;
    border: none;
    cursor: pointer;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: var(--wpbg-100);
    transition: 0.2s ease;
}

.emoji-btn:hover{
    background: var(--wpbg-200);
}

.emoji-picker-container {
    position: absolute;
    bottom: 50px; 
    left: 0;
    z-index: 999;
    width: 300px;
    height: 250px;
}

.emoji-picker-container aside {
    width: 100% !important;
    height: 100% !important;
}

