.chat-area {
    display: flex;
    flex-direction: column;
    position: sticky;
    bottom: 0;
    width: 100%;
    margin-bottom: 10px;
}

.chat-input {
    padding: 10px 16px;
}

.input-wrapper {
    position: relative;
    width: 100%;
    border-radius: 25px;
    border-radius: 25px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
    background: var(--wpbg-100);
}

.input-wrapper textarea {
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    padding: 12px 55px 12px 15px;
    border-radius: 25px;
    font-size: 15px;
    background: transparent;
}

.input-wrapper button {
    position: absolute;
    right: 8px;
    bottom: 6px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
    color: var(--wpbg-100);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s ease;
}

.chat-input button:hover {
    background-color: var(--wp-green-400);
}

.input-wrapper i {
    font-size: 16px;
}