.add-contact-screen {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.top-row-addc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin: 30px;
}

.top-row-addc button {
    font-size: 20px;
    font-weight: 400;
}

.add-contact-form {
    display: flex;
    flex-direction: column;
    padding: 24px;
    margin: 30px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    align-self: start;
    width: 100%;
}

.input-group label {
    font-size: 14px;
    color: var(--wp-ichs-200);
    margin-bottom: 6px;

}

i:hover {
    cursor: default;
    color: inherit;
}

.input-group input,
.input-group select {
    border: none;
    border-bottom: 2px solid var(--wp-ichs-300);
    background: transparent;
    padding: 6px 0;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
    width: 100%;
}

.input-group input:focus,
.input-group select:focus {
    border-bottom: 2px solid var(--wp-green-400);
}

.action-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    width: 100%;
}

.favorite {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 15px;
    color: var(--wp-ichs-200);
    cursor: pointer;
    position: relative;
}

.favorite input {
    opacity: 0;
    position: absolute;
}

.checkmark {
    width: 18px;
    height: 18px;
    border: 2px solid var(--wp-green-400);
    border-radius: 4px;
    transition: all 0.2s ease;
}

.favorite input:checked+.checkmark {
    background-color: var(--wp-green-400);
    border-color: var(--wp-green-400);
}

.favorite input:checked+.checkmark::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 10px;
    border: solid var(--wpbg-100);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    top: 2px;
    left: 6px;
}

.add-btn {
    background-color: var(--wp-green-400);
    color: var(--wpbg-100);
    border: none;
    padding: 8px 18px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s ease;
}

.add-btn:hover {
    background-color: var(--wp-green-300);
    transform: scale(1.05);
}

.add-btn:active {
    transform: scale(0.95);
}