.contact-sidebar-column{
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    height: 100vh;
}

.logofilter-section{
    position: sticky;
    top: 0;
    background-color: var(--wpbg-100);
}

.logo-container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container h1 {
    font-size: 22px;
    font-weight: 600;
    color: var(--wp-green-400);
    margin: 0;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

.logo-container-options {
    display: flex;
    justify-content: end;
    gap: 5px;
}

.logo-container-options button {
    width: 42px;
    height: 42px;
    background: none;
    border: none;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.logo-container-options button:hover {
    background-color: var(--wp-ichs-95);
}

.search-bar {
    background-color: var(--wp-ichs-95);
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 15px;
    margin-bottom: 12px;
    border: 1px solid var(--wp-ichs-95)
}

.search-bar:hover {
    border: 1px solid var(--wp-ichs-100);
}

.search-bar i {
    color: var(--wp-ichs-200);
    font-size: 14px;
}

.search-bar input {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
    font-size: 14px;
    color: var(--wp-ichs-500);
}

.filters {
    display: flex;
    gap: 10px;
    margin: 10px;
}

.filter-btn {
    padding: 6px 14px;
    border-radius: 20px;
    border: 1px solid var(--wp-ichs-100);
    background-color: var(--wpbg-100);
    font-size: 14px;
    font-weight: 600;
    color: var(--wp-ichs-300);
    cursor: pointer;
    transition: 0.2s ease;
}

.filter-btn.active {
    background-color: var(--wp-green-100);
    color: var(--wp-green-300);
}

.filter-btn:hover {
    background-color: var(--wp-ichs-95);
}

.filter-btn.active:hover {
    background-color: var(--wp-green-200);
}

.contact-sidebar-column {
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
    background-color: var(--color-primario-100);
}

img {
    width: '200px'
}

.contact-card {
    display: flex;
    gap: 12px;
    padding: 12px 15px;
    cursor: pointer;
    transition: 0.2s ease;
    border-radius: 12px;
}

.contact-card:hover {
    background-color: var(--wp-ichs-95);
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.contact-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-row h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

.time {
    font-size: 12px;
    color: var(--wp-ichs-300);
}

.bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;
}

.bottom-row p {
    margin: 0;
    font-size: 14px;
    color: var(--wp-ichs-200);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
}

.contact-name {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.contact-name.unread {
    font-weight: 600;
}

.unread-count {
    background-color: var(--wp-green-400);
    color: var(--wpbg-100);
    font-size: 12px;
    font-weight: bold;
    border-radius: 50px;
    padding: 3px 8px;
    min-width: 20px;
    text-align: center;
}