* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

:root {
    --color-primario-100: #ffffff;
    --color-primario-200: #f7f5f2;
    --color-primario-300: #f5f5f5;
    --color-primario-400: #d8fcd2;
    --color-primario-500: #1bab61;
    --color-primario-600: #15613f;
}

h2 {
    font-size: 22px;
    line-height: 15px;
    font-weight: 500;
    color: var(--color-primario-500);
}

.contact-sidebar-column {
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
    background-color: var(--color-primario-100);
}

img {
    width: '200px'
}

.contact-card {
    display: flex;
    gap: 12px;
    padding: 12px 15px;
    cursor: pointer;
    transition: 0.2s ease;
}

.contact-card:hover {
    background-color: #f5f6f6;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.contact-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-row h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}

.time {
    font-size: 12px;
    color: #8696a0;
}

.bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;
}

.bottom-row p {
    margin: 0;
    font-size: 14px;
    color: #667781;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
}

.unread {
    background-color: #25D366;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50px;
    padding: 3px 8px;
    min-width: 20px;
    text-align: center;
}