.profile-screen-containter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.option-sidebar-cont{
    height: 100vh;
}

.profile-page {
    display: flex;
    flex-direction: column;
    background-color: var(--wpbg-100);    
    height: 100vh;
    width: 100vw; 
}

.profile-header {
    background: var(--wpbg-100);
    padding: 16px;
    align-items: center;
}

.profile-header h2{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 24px;
}

.profile-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 16px;
}

.profile-content h3 {
    margin: 8px 0 4px;
    font-size: 24px;
    font-weight: 600;
}

.profile-status {
    font-size: 18px;
    color: var(--wp-ichs-300);
    margin-bottom: 24px;
}

.profile-info {
    width: 100%;
    max-width: 400px;
    background: var(--wpbg-200);
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    text-align: left;
    margin-bottom: 16px;
}

.profile-info .label {
    font-size: 16px;
    color: var(--wp-ichs-300);
    text-transform: uppercase;
    margin-bottom: 10px;
    display: block;
}