.contact-message-container {
    display: flex;
}

.cs-message-header {
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 5;
    align-items: center;
    gap: 15px;
    padding: 10px 16px;
    background-color: var(--wpbg-100);
    border-bottom: 1px solid var(--wp-ichs-90);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    height: 70px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.cs-header-info {
    display: flex;
    flex-direction: column;
}

.cs-header-info h1 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.last-seen {
    font-size: 13px;
    color: #667781;
    margin-top: 2px;
}

.messages-area-container {
    display: flex;
    flex-direction: column;
    background-color: var(--wpbg-200);
    height: 100%;
    justify-content: space-between;
    margin-bottom: 0;
}
.messages-scroll-area{
    display: flex;
}

.chat-area {
    position: sticky;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
}