*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

:root{
    --color-primario-100: #ffffff;
    --color-primario-200: #f7f5f2;
    --color-primario-300: #f5f5f5;
    --color-primario-400:#d8fcd2;
    --color-primario-500: #1bab61;
    --color-primario-600:#15613f;
}

.contact-message-container{
    display: flex;
}

.message-sidebar{
    background-color: wheat;
    border-left: 1px solid #ccc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    padding: 10px;
}

.message-header{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 10px;
    align-items: center;
    padding: 10px;
    background-color: var(--color-primario-100);
}

img{
    width: 60px;
}

h1{
    font-size: 20px;
}

.message {
    max-width: 60%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

    .mine {
    background-color: #d1f7c4;
    align-self: flex-end;
    text-align: right;
    }

        .other {
        background-color: #f1f1f1;
        align-self: flex-start;
}