.contact-message-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
}

.message-sidebar {
    background-color: var(--wpbg-200);
    flex: 3;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-left: 1px solid var(--wp-ichs-95);
}

.message-header {
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 5;
    align-items: center;
    gap: 15px;
    padding: 10px 16px;
    background-color: var(--wpbg-100);
    border-bottom: 1px solid var(--wp-ichs-90);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    height: 60px;
}

.message-header .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.header-info {
    display: flex;
    flex-direction: column;
}

.header-info h1 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.last-seen {
    font-size: 13px;
    color: #667781;
    margin-top: 2px;
}

.chat-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}