.home-containter {
    display: flex;
    height: 100vh;
}

.option-contact-section {
    display: flex;
    flex: 1;
}

.profile-active {
    flex: 1;
    display: flex;
}

.contactsidebar-active {
    display: flex;
    flex-shrink: 0;
} 

.home-message-welcome-cont {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--wpbg-200);
}

.messages-scroll-area {
    flex: 1;
    overflow-y: auto;
    width: 100%;
}

.cs-message-header {
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 5;
    align-items: center;
    gap: 15px;
    padding: 10px 16px;
    background-color: var(--wpbg-100);
    border-bottom: 1px solid var(--wp-ichs-90);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    height: 70px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.cs-header-info {
    display: flex;
    flex-direction: column;
}

.cs-header-info h1 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.last-seen {
    font-size: 13px;
    color: #667781;
    margin-top: 2px;
}

/* 📱 MOBILE */
@media (max-width: 768px){

    .home-containter {
        flex-direction: column;
    }

    .option-contact-section {
        flex-direction: column;
        height: 100vh;
    }

    /* Ocultamos la barra lateral izquierda */
    .options-sidebar {
        display: none;
    }

    /* Sidebar ocupa todo el ancho */
    .contactsidebar-active {
        width: 100%;
        height: 100%;
    }

    .home-message-welcome-cont {
        width: 100%;
        height: 100%;
    }
    /* 👉 Si hay chat abierto ocultamos sidebar */
    .chat-open .contactsidebar-active {
        display: none;
    }

    /* 👉 Si NO hay chat abierto ocultamos chat */
    .home-containter:not(.chat-open) .home-message-welcome-cont {
        display: none;
    }

}