.home-containter {
    display: flex;
    height: 100vh;
}

.option-contact-section {
    display: flex;
    flex: 1;
}

.profile-active {
    flex: 1;
    display: flex;
}

.contactsidebar-active {
    display: flex;
    flex-shrink: 0;
}

.home-message-welcome-cont {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--wpbg-200);
}

.messages-scroll-area {
    flex: 1;
    overflow-y: auto;
    width: 100%;
}

.cs-message-header {
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 5;
    align-items: center;
    gap: 15px;
    padding: 10px 16px;
    background-color: var(--wpbg-100);
    border-bottom: 1px solid var(--wp-ichs-90);
    box-shadow: 1px var(--wp-ichs-100);
    height: 70px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.cs-header-info {
    display: flex;
    flex-direction: column;
}

.cs-header-info h1 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.last-seen {
    font-size: 13px;
    color: var(--wp-ichs-300);
    margin-top: 2px;
}

/* MOBILE */
@media (max-width: 768px) {

        .home-containter {
        flex-direction: column;
        overflow: hidden;
    }

    .option-contact-section {
        flex-direction: column;
        height: 100%;
    }

    .options-sidebar {
        display: none;
    }

    .contactsidebar-active {
        height: 100%;
    }

    .home-message-welcome-cont {
        width: 100%;
        height: 100%;
    }

    .view-welcome .home-message-welcome-cont {
        display: none;
    }

    .view-chat .contactsidebar-active {
        display: none;
    }

    .view-add-contact .contactsidebar-active {
        display: none;
    }

    .view-contact-info .contactsidebar-active {
        display: none;
    }
}




