.contact-info-page {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background: var(--wpbg-100);
    align-self: flex-end;
    width: 100%;
}

.contact-info-panel {
    display: flex;
    flex-direction: column;
    animation: slideFromTop 0.45s ease forwards;
}

@keyframes slideFromTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.info-header {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px;
    background: var(--wpbg-100);
}

.close-btn {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.close-btn-mobile{
    display: none
}

.info-content {
    display: flex;
    padding: 24px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.info-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 16px;
}

.info-content h3 {
    margin: 8px 0 4px;
    font-size: 24px;
    font-weight: 500;
}

.info-phone {
    font-size: 16px;
    color: var(--wp-ichs-300);
    margin-bottom: 20px;
}

.info-search {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: var(--wpbg-100);
    padding: 14px;
    border-radius: 12px;
    text-align: center;
    width: 158px;
    height: auto;
    border: 1px solid var(--wp-ichs-95);
}

.info-search:hover {
    background: var(--wpbg-200)
}

.info-search button {
    font-size: 15px;
    color: var(--wp-ichs-300);
}

.info-search i {
    color: var(--wp-green-400);
}

.info-about-media {
    display: flex;
    padding: 24px;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    margin: 0 20px;
}

.info-about {
    font-size: 15px;
    border-bottom: 1px solid var(--wp-ichs-95);
    padding-bottom: 25px;
    font-size: 14px;
    color: var(--wp-ichs-300);
    font-weight: 500;
    margin-bottom: 24px;
    width: 100%;
}

.info-about p {
    font-size: 15px;
    color: var(--wp-ichs-500);
    font-weight: 400;
    margin-top: 15px;
}

.info-options-card {
    width: 100%;
    background: var(--wpbg-100);
    border: none;
    border-radius: 12px;
    padding: 14px 16px;
    font-size: 15px;
    color: var(--wp-ichs-500);
    font-weight: 400;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
    transition: 0.2s ease;
}

.info-options-card:hover {
    background: var(--wpbg-200);
}

.block-report,
.block-report i {
    color: red;
}

@media (max-width: 768px) {

    .contact-info-page {
        align-self: center;
        width: 100%;
    }

    .info-header {
        align-items: center;
        padding: 20px;
    }
    .close-btn-desktop{
        display: none
    }

    .close-btn-mobile{
        display: flex;
    }
}