.contact-info-page {
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact-info-panel {
    height: 100%;
    background: var(--wpbg-200);
    display: flex;
    flex-direction: column;
    animation: slideFromTop 0.45s ease forwards;
}

@keyframes slideFromTop  {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.info-header {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px;
    background: var(--wpbg-100);
}

.close-btn {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.info-content {
    display: flex;
    padding: 24px;
    text-align: center;
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
}

.info-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 16px;
}

.info-content h3 {
    margin: 8px 0 4px;
    font-size: 20px;
    font-weight: 600;
}

.info-status {
    font-size: 14px;
    color: var(--wp-ichs-300);
    margin-bottom: 24px;
}

.info-section {
    background: var(--wpbg-100);
    padding: 16px;
    border-radius: 12px;
    text-align: left;
    margin-bottom: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    width: 50%;
}

.label {
    font-size: 12px;
    color: var(--wp-ichs-300);
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.info-section p{
    font-size: 14px;
    color: var(--wp-ichs-500);
    margin-top: 10px;
}