
.profile-page{
    display: flex;
    flex-direction: row;
    flex: 1;        
    width: 100%;
}

.profile-column {
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    background-color: var(--wpbg-100);
    border-right: 1px solid var(--wp-ichs-95);
    align-items: start;
    gap: 30px;
    padding: 0 20px;
    animation: slideFromLeft 0.45s ease forwards;
    flex: 0 0 400px;  
    overflow-y: auto;
}

@keyframes slideFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.profile-page h2 {
    font-size: 35px;
    font-weight: 600;
}

.profile-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 50px;
}

.profile-page span {
    font-size: 15px;
    font-weight: 500;
    color: var(--wp-ichs-200);
}

.profile-page p {
    font-size: 15px;
    color: var(--wp-ichs-500);
    font-weight: 400;
    margin: 15px 0;
}

.profile-empty-space{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--wpbg-200);
}

.profile-empty-space h1{
 color: aquamarine;
}