
.profile-page{
    display: flex;
    flex-direction: row;
    flex: 1;        
    width: 100%;
}

.profile-column {
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    background-color: var(--wpbg-100);
    border-right: 1px solid var(--wp-ichs-95);
    align-items: center;
    gap: 30px;
    padding: 0 20px;
    animation: slideFromLeft 0.45s ease forwards;
    flex: 0 0 400px;  
    overflow-y: auto;
}

@keyframes slideFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.profile-title{
    padding: 30px;
}

.profile-title h2{
    font-size: 30px;
    font-weight: 500;
    text-align: center
}

.profile-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 40px;
    margin-bottom: 0;
}

.profile-data {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    padding: 20px;
    gap: 30px;
}

.profile-data-card{
    gap: 20px;
}

.profile-data-card span {
    font-size: 20px;
    font-weight: 600;
    color: var(--wp-ichs-200);
}

.profile-data-card p {
    font-size: 18px;
    color: var(--wp-ichs-500);
    font-weight: 400;
    margin: 15px 0;
}



.profile-empty-space{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--wpbg-200);
}

.profile-empty-space h1 {
 font-size: 45px;
 font-weight: 500;
}

.profile-empty-space i {
 font-size: 45px;
}
