.home-containter {
    display: flex;
    flex-direction: row;
    position: relative;
    overflow-x: auto;
    height: 100vh;
}

.home-option-section {
    display: flex;
    width: 70px;
}

.home-contact-section {
    display: flex;
    width: 100%;
    flex: 1;
    min-width: 400px;
}

.home-message-welcome-cont {
    min-width: 500px;
    flex: 6;
}