.home-containter {
    display: flex;
    flex-direction: row;
    position: relative;
    overflow-x: auto;
}

.home-option-section{
    display: flex;
    width: 70px;
    height: 100vh;
}

.home-contact-section{
    display: flex;
    width: 100%;
    flex: 1;
}
.home-message-welcome-cont{
    min-width: 500px;
    height: auto;
    width: 80%;
    flex: 3;
}
