:root {
    --wpbg-100: #ffffff;
    --wpbg-200: #f7f5f2;

    --color-primario-300: #f5f5f5;
    --color-primario-500: #1bab61;
    --color-primario-600: #15613f;

    --wp-green-100: #d8fcd2;
    --wp-green-200: #c7f3be;
    --wp-green-300: #017561;

    --wp-ichs-90: #e9edef;
    --wp-ichs-95: #f0edeb;
    --wp-ichs-100: #ccc;
    --wp-ichs-200: #54656f;
    --wp-ichs-300: #667781;
    --wp-ichs-500: #111b21;
    --wp-ichs-600: black;
}

.home-containter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.options-sidebar {
    background-color: var(--wpbg-200);
    height: 100vh;
    border-right: 1px solid var(--wp-ichs-95);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70px;
    padding: 15px 0;
    gap: 25px;
}

.options-sidebar button {
    background: none;
    border: none;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition: 0.2s ease;
}

.options-sidebar button:hover {
    background-color: var(--wp-ichs-90);
}

i {
    font-size: 22px;
    color: var(--wp-ichs-200);
    cursor: pointer;
    transition: 0.2s ease;
}

i:hover {
    color: var(--wp-ichs-500);
}

.contact-sidebar {
    background-color: var(--wpbg-100);
    flex: 4;
    height: 100vh;
    border-right: 1px solid var(--wp-ichs-95)
}

.message-sidebar {
    background-color: var(--wpbg-200);
    flex: 8;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
}

.download-card {
    padding: 24px;
    margin: 16px;
    background-color: var(--wpbg-100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 336px;
    height: 304px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

.download-card h1 {
    font-size: 28px;
    font-weight: 500;
    color: #111b21;
    margin-bottom: 15px;
}

.download-card span {
    font-size: 15px;
    color: var(--wp-ichs-300);
    line-height: 1.6;
    margin-bottom: 30px;
}

.download-card i {
    font-size: 28px;
}

.download-btn {
    display: inline-block;
    background-color: var(--wp-green-100);
    color: var(--wp-green-300);
    border: none;
    padding: 10px 28px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease;
}

.download-btn:hover {
    background-color: var(--wp-green-200);
}

.quick-actions {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 40px;
}

.quick-actions-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quick-actions-btn i {
    width: 100px;
    height: 100px;
    background-color: var(--wp-ichs-95);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: var(--wp-ichs-200);
    transition: 0.2s ease;
}

.quick-actions-btn i:hover{
    background-color: var(--wpbg-100);
}

.quick-actions-btn span {
    font-size: 15px;
    color: var(--wp-ichs-300);
    line-height: 1.6;
    margin-bottom: 30px;
}