:root {
    --wpbg-100: #ffffff;
    --wpbg-200: #f7f5f2;

    --color-primario-300: #f5f5f5;
    --color-primario-400: #d8fcd2;
    --color-primario-500: #1bab61;
    --color-primario-600: #15613f;

    --wp-ichs-90: #e9edef;
    --wp-ichs-100: #ccc;
    --wp-ichs-200: #54656f;
    --wp-ichs-500: #111b21;
    --wp-ichs-600: black;
}

.home-containter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.options-sidebar {
    background-color: var(--wpbg-200);
    height: 100vh;
    border-right: 1px solid var(--wpbg-100);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70px;
    padding: 15px 0;
    gap: 25px;
}

.options-sidebar button{
    background: none;
    border: none;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition: 0.2s ease;
}

.options-sidebar button:hover{
    background-color:var(--wp-ichs-90);
}

i {
    font-size: 22px;
    color: var(--wp-ichs-200);
    cursor: pointer;
    transition: 0.2s ease;
}

i:hover {
    color: var(--wp-ichs-500);
}

.contact-sidebar {
    background-color: var(--wpbg-100);
    flex: 4;
    height: 100vh;
    border-left: 1px solid var(--wp-hs-100);
}

.message-sidebar {
    background-color: var(--wpbg-200);
    flex: 8;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.download-card{
    padding: 24px;
    margin: 16px;
    background-color: var(--wpbg-90);
}