.home-containter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-sidebar {
    background-color: var(--wpbg-100);
    flex: 1;
    height: 100vh;
}
